{% extends 'base.html' %}

{% load static %}

{% block navhead %}
Products
{% endblock %}

{% block style %}

{% endblock %}

{% block contents %}


{% for item in prd %}

  {% if prd %}
<br>
<div class= "container-fluid"> 
  <center>
    <img style= "width: 50px;" src= "" alt="{{item.image}}">
    <table class= "table table-bordered table-hovered table-responsive ">
      <tr>
        <th>Product Name</th>
        <th>Product Price</th>  
        <th>Product Description</th>
        <th>Product Image</th>
      </tr>
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td style="width: 50px;">{{item.description}}</td> 
        <td><img src="https://replit.com/@Glitchdev1/Test#images/Glitchgif_dLhZasM.jpeg" alt={{item.image}}></td>
      </tr>
      <tr>
        

      </tr>
    </table>
      <a href = {{item.get_object_url}}/>go to object</a>
          </center>
          <br><br><br>
      {% else %}
      error
      {% endif%}
{% endfor %}
<span>Wanna create a product?
          <a href = "create/" >click here</a>
          </span> <br><br><br>
</div>
{% endblock %}