{% extends 'base.html' %}

{% block title %}
Blogs
{% endblock %}

{% block navhead %}
Blogs
{% endblock %}

{% block style %}
body {
text-align : left;
}
{% endblock %}

{% block contents %}
<div class= "container">
<center><h1>Articles</h1></center>
{% for item in object_list %}
{% if object_list %}
<br><br>
<img src= "/{{BASIC_DIR}}/{{item.photo}}" alt= "{{item.photo}}">
<div class="card-group">
  <div class="card-header">
      {{item.title}}
  </div>
  <div class="card-body">
      {{item.content}}
  </div>
</div>
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Update 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <center>
          <a class= "btn" href = '{{ item.id }}/update'>edit
          </a>
      </center>
    </li>
  <li class= "dropdown-divider"></li>
  <li>
    <center>
      <a class= "btn" href = '{{ item.id }}/delete'>delete</a>
    </center>
  </li>
</ul>
<br>

{% else %}
<h1>No Blogs are there</h1>
{% endif %}
{% endfor %}
<div >
wanna create one?<a class= "btn btn-info" href = '/blog/create'>Create</a></div><br><br>
</div>
{% endblock %}