{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block title %}
Register
{% endblock %}

{% block style %}
body {
    text-align: left;
}
{% endblock %}

{% block contents %}
<center>
<div class="container-fluid ">
	<h1>Register</h1>
	<form class= "form-group alert alert-primary col-md-5" method="POST">
		{% csrf_token %}
		
		<div class= "form-group">
       {{form.username.label}}:
         <input class= "form-control" type= "text" name= "username">
         <div class="help-block"><small class="text-secondary">{{form.username.errors}}</small></div><br>
       {{form.email.label}}:
       <input class= "form-control" type="email" name="email">
       <div class="help-block"><small>{{form.email.errors}}</small></div><br>
       {{form.password1.label}}:
       <input class= "form-control" type= "password" name= "password1">
       <div class="help-block"><small>{{form.password1.errors}}</small></div><br>
       {{form.password2.label}}:
       <input class= "form-control" type= "password" name= "password2">
       
       <div class="alert-danger">{{form.password2.errors}}</div><br>
     
		  <input class="btn btn-primary " type="submit" value= "Register">
	  </div>
	</form>
    </div>

    
<div style= "text-align: center;">
<h4 class= "alert alert-secondary col-md-12">Already have an account? <a href= "/login/">login</a>
</h4></div>
</center>
{% endblock %}
<script>
var form_fi = document.querySelector("input")
for form_f in form_fi(){
  input[0].placeholder= "username.."
}
</script>